
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #333;
  padding: 15px;
}

.logo {
  color: white;
}

.menu {
  list-style: none;
  display: flex;
}

.menu li {
  margin-left: 20px;
}

.menu a {
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

.menu a:hover {
  color: #00c3ff;
}


/*active menu*/
.menu a.active {
  color: #00c3ff;
  font-weight: bold;
}